@font-face {
	font-family: BNasim;
	font-weight: normal;
	src: url('../fonts/bnasim.eot?#') format('eot'), url('../fonts/bnasim.woff') format('woff'), url('../fonts/bnasim.ttf') format('truetype');
}
