@font-face {
	font-family: BYekan;
	font-weight: normal;
	src: url('../fonts/byekan.eot?#') format('eot'), url('../fonts/byekan.woff') format('woff'), url('../fonts/byekan.ttf') format('truetype');
}
