@font-face {
	font-family: Nassim;
	font-weight: normal;
	src: url('../fonts/nassim.eot?#') format('eot'), url('../fonts/nassim.woff') format('woff'), url('../fonts/nassim.ttf') format('truetype');
}
@font-face {
	font-family: Nassim;
	font-weight: bold;
	src: url('../fonts/nassimbd.eot?#') format('eot'), url('../fonts/nassimbd.woff') format('woff'), url('../fonts/nassimbd.ttf') format('truetype');
}
